<h1>Editing supertype</h1>

<%= render "form", supertype: @supertype %>

<br>

<div>
  <%= link_to "Show this supertype", @supertype %> |
  <%= link_to "Back to supertypes", supertypes_path %>
</div>
