<div id="<%= dom_id match %>">
  <p>
    <strong>Resource:</strong>
    <%= Resource.find(match.resource_id).name %>
  </p>

  <p>
    <strong>Need:</strong>
    <%= Need.find(match.need_id).name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= Type.find(match.type_id).name %>
  </p>

</div>
