<div id="<%= dom_id match %>">
  <p>
    <strong>Resource:</strong>
    <%= match.resource_id %>
  </p>

  <p>
    <strong>Need:</strong>
    <%= match.need_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= match.type_id %>
  </p>

</div>
