<h1>List of Organizations</h1>
<div id="organizations">
<% if Organization.any? %>
  <table id="tblOrganizations" class="table table-bordered table-striped">
    <tbody>
       <% @organizations.each do |org| %>
        <tr>
           <td>
            <%= link_to org.name, edit_organization_path(org) %>
           </td>
        </tr>
       <% end %>
    </tbody>
  </table>
  <% else %>
    <div class="alert alert-warning">There are no Organizations.</div>
  <% end %>
</div>


<%= link_to "New organization", new_organization_path %>
